* {
  font-family: "Rubik", sans-serif;
}

.globalWindow {
  margin-top: 100px;
  margin-left: calc(50% - 250px);
  width: 500px;
  height: 600px;
  border-radius: 10px;
  overflow: auto;
  color: white;
  position: relative;
  background-color: aqua;
}
.globalWindow .inputWindow {
  z-index: 200;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 600px;
  background-color: rgb(20, 36, 70);
  display: flex;
  flex-direction: column;
  transform: translateX(0px);
  transition: all 0.5s;
}
.globalWindow .inputWindow .inputWindowHeader {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.globalWindow .inputWindow .inputWindowHeader button {
  border: 0px;
  background-color: transparent;
  color: white;
}
.globalWindow .inputWindow .inputWindowHeader button svg {
  font-weight: bold;
}
.globalWindow .inputWindow .inputWindowMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.globalWindow .inputWindow .inputWindowMain input {
  width: 200px;
}
.globalWindow .inputWindow .inputWindowMain #searchButton {
  width: 75px;
}
.globalWindow .upper {
  display: flex;
  flex-direction: column;
  background: url(./img/figure1.svg) no-repeat center/cover;
  height: 300px;
  position: relative;
  padding: 10px 20px;
}
.globalWindow .upper #openButton {
  position: absolute;
  right: 20px;
  top: 5px;
  width: 40px;
  height: 40px;
  border: 0px;
  background-color: transparent;
  color: white;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.globalWindow .upper p {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.globalWindow .upper p .town {
  background-color: rgb(159, 53, 53);
  color: white;
  font-size: 38px;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: bold;
}
.globalWindow .upper p .country {
  background-color: rgb(159, 53, 53);
  color: white;
  font-size: 38px;
  padding: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
}
.globalWindow .upper .logo {
  width: 70px;
}
.globalWindow .upper .upperInfo {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}
.globalWindow .upper .upperInfo .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.globalWindow .upper .upperInfo .left .description {
  font-size: 28px;
}
.globalWindow .upper .upperInfo .right .mainTemp {
  font-size: 42px;
  margin: 0px;
  font-weight: bold;
}
.globalWindow .lover {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  position: relative;
  color: rgb(59, 30, 10);
}
.globalWindow .lover .left,
.globalWindow .lover .right {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.globalWindow .lover .left .iconImg,
.globalWindow .lover .right .iconImg {
  width: 25px;
}
.globalWindow .lover .left h5,
.globalWindow .lover .right h5 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(8, 81, 94);
}/*# sourceMappingURL=style.css.map */