* {
  font-family: "Rubik", sans-serif;
}

.globalWindow {
  margin-top: 100px;
  margin-left: calc(50% - 500px / 2);
  width: 500px;
  height: 600px;
  border-radius: 10px;
  overflow: auto;
  color: white;
  position: relative;
  background-color: aqua;

  .inputWindow {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 600px;
    background-color: rgb(20, 36, 70);
    display: flex;
    flex-direction: column;
    transform: translateX(0px);
    transition: all 0.5s;

    .inputWindowHeader {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      button {
        border: 0px;
        background-color: transparent;
        color: white;

        svg {
          font-weight: bold;
        }
      }
    }

    .inputWindowMain {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      input {
        width: 300px;
        height: 40px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);

        &:focus {
          outline: none;
        }
      }

      #searchButton {
        width: 75px;
        height: 40px;
        border: 0;
        border-radius: 5px;
        background-color: #3b82f6;
        color: #fff;
        font-weight: 600;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);

        &:hover {
          cursor: pointer;
          background-color: #2563eb;
        }
      }
    }
  }

  .upper {
    display: flex;
    flex-direction: column;
    background: url(./img/figure1.svg) no-repeat center/cover;
    height: 300px;
    position: relative;
    padding: 10px 20px;

    #openButton {
      position: absolute;
      right: 20px;
      top: 5px;
      width: 40px;
      height: 40px;
      border: 0px;
      background-color: transparent;
      color: white;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      font-size: 16px;
      color: white;
      font-weight: bold;
      .town {
        background-color: rgb(159, 53, 53);
        color: white;
        font-size: 38px;
        padding: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: bold;
      }
      .country {
        background-color: rgb(159, 53, 53);
        color: white;
        font-size: 38px;
        padding: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-weight: bold;
      }
    }

    .logo {
      width: 70px;
    }

    .upperInfo {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 90px;

      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .description {
          font-size: 28px;
        }
      }

      .right {
        .mainTemp {
          font-size: 42px;
          margin: 0px;
          font-weight: bold;
        }
      }
    }
  }

  .lover {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    position: relative;
    color: rgb(59, 30, 10);

    .left,
    .right {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .iconImg {
        width: 25px;
      }

      h5 {
        font-size: 18px;
        font-weight: 600;
        color: rgb(8, 81, 94);
      }
    }
  }
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;

  .popup-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: calc(50% - 150px);
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .popup-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .popup-text {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    .popup-close {
      background-color: #e53e3e;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 500px) {
  .globalWindow {
    width: 100%;
    margin: auto;
    border-radius: 0%;

    .inputWindow {
      width: 100%;
    }

    .lover {
      padding: 10px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 300px;
      position: relative;
      color: rgb(59, 30, 10);

      .left,
      .right {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .iconImg {
          width: 25px;
        }

        h5 {
          font-size: 15px;
          font-weight: 600;
          color: rgb(8, 81, 94);
        }
      }
    }
  }
}
